$grey: #aaa;

* {
    box-sizing: border-box;
}

.menu {
    h2 {
        color: $grey;
        border-bottom: 2px solid $grey;
    }
    h4 {
        font-size: 18px;
        font-weight: bold;
        margin: 0.8em 0.2em 0.2em 0.2em;
    }

    p {
        margin: 0 0 0 1em;
        font-style: italic;
    }
}
